.About
{
    margin: 2%;
    padding: 1%;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.about_card{
    display: flex;
    margin: 2em;
    justify-content: space-between;
    .about_figure{
        margin: 1em;
        img{
            width: 100%;
        }
    }
    .about_caption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: medium;
        padding: 2em;
    }
}

@media screen and (max-width:1350px) {
        .about_card{
            flex-direction: column;
        }
        .about_caption{
            width: 100%;
        }
}
@media screen and (min-width:1350px) {
    .about_caption{
        width: 50%;
    }
}

