.app-video{
    color: white;
    background: linear-gradient(156.8deg, rgb(30, 144, 231) 27.1%, rgb(67, 101, 225) 77.8%);
    padding: 2%;
}
.app-video-box{
    border: 2px solid white;
    margin-left: 10%;
    margin-right: 10%;
    height: 80vh;
    background-color: #282c34eb;
}