.header{
    text-align: center;
    align-items: center;
    justify-content: center;
    h1{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: xx-large;
    }
    padding: 1%;
}
@media screen and (max-width:1000px) {
    .header{
        display: none;
    }
}