footer {
  // background-color: #202529;
  background: linear-gradient(156.8deg, rgb(30, 144, 231) 27.1%, rgb(67, 101, 225) 77.8%);

  // position: fixed;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  p {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
}
